<?xml version="1.0"?>
<model>
  <name>plastic_bottle</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>ET Robocon Simulator</name>
    <email>ouwa@emtechs.co.jp</email>
  </author>
  <description>
    300ml plastic bottle with water and yellow label as obstacle
  </description>
</model>